/* Estilos básicos */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
  }
  
  .logo img {
    height: 50px;
  }
  
  .menu nav ul {
    display: flex;
    list-style: none;
  }
  
  .menu nav ul li {
    margin: 0 10px;
  }
  
  .menu nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .btn button {
    background-color: #ff5733;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Estilos do Menu de Hambúrguer */
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
  }
  
  .bar {
    background-color: white;
    height: 3px;
    width: 100%;
  }
  
  /* Menu visível ou oculto */
  .menu nav {
    display: block;
  }
  
  .menu nav ul {
    display: flex;
  }
  
  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }
  
    .menu nav {
      display: none;
      width: 100%;
      background-color: #333;
      position: absolute;
      top: 60px;
      left: 0;
      padding: 20px;
      z-index: 10;
    }
  
    .menu nav.open {
      display: block;
    }
  
    .menu nav ul {
      flex-direction: column;
      width: 100%;
      padding: 0;
    }
  
    .menu nav ul li {
      margin: 10px 0;
      text-align: center;
    }
  }
  